<%- include('partials/header'); %>
    <div class="container">
      <h3><a href="/">Employee List</a></h3>
      <h1>Employee Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= employee.firstname +" "+ employee.lastname %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td><%= employee.email %></td>
          </tr>
          <tr>
            <td>Position</td>
            <td>:</td>
            <td><%= employee.position %></td>
          </tr>
          <tr>
            <td>City</td>
            <td>:</td>
            <td><%= employee.city %></td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/edit/<%= employee._id%>">EDIT</a></h3>
      <form action="/delete/<%= employee._id%>" method="post">
        <button type="submit">DELETE</button>
      </form>
    </div>
<%- include('partials/footer'); %>